.BorTit
  border-left: 5px solid $color-acento-contenido
  padding: 6px 0px 6px 10px
  margin-top: 6px

iframe
  border-radius: 10px

.bloque1.bloque-texto-b:before 
    content: '';
    display: block;
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 60%;
    right: 0;

.color-acento-botones
    background-color:$color-acento-botones !important

.fondo-rojo-claro-1
  background-color: #FCE5E9


.fondo-gris-1
  background-color: #FBF7F6

.fondo-a
  background-color: #FFF5F0

.fondo-b
  background-color: #FDEBEE